body {
  background-color: lightblue;
  color: rgb(150, 49, 49);
  background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045379_640.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 100px;
}

.container {
  border: 1px solid rgb(60, 241, 20);
  padding: 0; 
  margin: 0;
  font-size: 25px;
  color: antiquewhite;
  background-color: rgb(186, 84, 84);
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  float: left;
  margin: 5px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: lightyellow;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

ul li a:hover {
  background-color: orange;
  color: white;
}

.new_basic_react {
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
  border-radius: 10px;
  width: auto;
}
